@tailwind base;
@tailwind components;
@tailwind utilities;

.scene {
  width: 200px;
  height: 200px;
  perspective: 1000px;
  margin: 5em auto;
}

.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  transition: transform 1s;
  margin-bottom: 3em;
}

.cube.rolling {
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotateX(0) rotateY(0);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

.cube__face {
  position: absolute;
  width: 200px;
  height: 200px;
  background: rgba(150, 7, 202, 0.9);
  border: 1px solid #ccc;
  font-size: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6em;
}

.cube__face--front {
  transform: rotateY(0deg) translateZ(100px);
}
.cube__face--back {
  transform: rotateY(180deg) translateZ(100px);
}
.cube__face--right {
  transform: rotateY(90deg) translateZ(100px);
}
.cube__face--left {
  transform: rotateY(-90deg) translateZ(100px);
}
.cube__face--top {
  transform: rotateX(90deg) translateZ(100px);
}
.cube__face--bottom {
  transform: rotateX(-90deg) translateZ(100px);
}

.cube.face-1 {
  transform: rotateY(0deg);
}
.cube.face-2 {
  transform: rotateY(180deg);
}
.cube.face-3 {
  transform: rotateY(90deg);
}
.cube.face-4 {
  transform: rotateY(-90deg);
}
.cube.face-5 {
  transform: rotateX(90deg);
}
.cube.face-6 {
  transform: rotateX(-90deg);
}

#root {
  width: 100%;
  text-align: center;
}
